  <header class="site-header">
    <a href="index.html" class="logo">
      <img src="/images/ecovis-logo.jpg" alt="ECOVIS Bulgaria лого" class="logo-img">
    </a>
    <nav class="nav">
      <a href="/">Начало</a>
      <a href="/about-us">За нас</a>

      <div class="dropdown">
        <a href="/services" class="dropbtn">
          Услуги <i class="fa-solid fa-caret-down"></i>
        </a>
        <div class="dropdown-content">
          <a href="/services/litigation-representation-defence">Процесуално представителство</a>
          <a href="/services/registration">Регистрация на фирми</a>
          <a href="/services/accounting">Счетоводни услуги</a>
          <a href="/services/start-business">Стартиране на бизнес в България</a>
          <a href="/services/legal">Правни услуги</a>
          <a href="/services/company-changes">Фирмени промени</a>
          <a href="/services/tax">Данъчни услуги</a>
          <a href="/services/gdpr">Документи за защита на лични данни</a>
          <a href="/services/legal-consultations">Правни консултации</a>
          <a href="/services/audit">Одитни услуги</a>
        </div>
      </div>


      <a href="news.html">Новини</a>
      <a href="team.html">Екип</a>
    </nav>
    <a href="#contact" class="btn btn-cta">Свържете се с нас</a>
    <button class="nav-toggle" aria-label="Отвори меню"><i class="fa-solid fa-bars"></i></button>
  </header>
